@font-face {
    font-family: "Super Mario Galaxy";
    src: url("../../fonts/Super\ Mario\ Galaxy.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../fonts/Helvetica\ Neue\ Heavy.otf");
    font-weight: 700;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: center / cover;
}