:root {
    --team-star-container-x: 50px;
    --greenscreen-top-y: 170px;
    --greenscreen-width: 480px;
    --greenscreen-height: 360px;
    --team-score-container-x: 941px;
}

/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Team Names */
.team-name-container { position: absolute; }
.team-name-container-left { left: 0; }
.team-name-container-right { right: 0; }

/* Team Stars Container */
.team-stars-container {
    position: absolute;
    top: 94px;
    display: flex;
    gap: 4.5px;
}
.team-stars-container > * { width: 45px; }
.team-stars-container-left { left: var(--team-star-container-x); }
.team-stars-container-right {
    right: var(--team-star-container-x);
    flex-direction: row-reverse;
}

/* Round Name */
.round-name-container {
    position: absolute;
    top: 135px;
}

/* Green Screens */
.greenscreen {
    position: absolute;
    left: 0;
    background-color: #0F0;
    width: var(--greenscreen-width);
    height: var(--greenscreen-height);
}
.greenscreen-top { top: var(--greenscreen-top-y); }
.greenscreen-bottom { top: calc(var(--greenscreen-height) + var(--greenscreen-top-y)); }
.greenscreen-x-1 { left: calc(var(--greenscreen-width) * 0); }
.greenscreen-x-2 { left: calc(var(--greenscreen-width) * 1); }
.greenscreen-x-3 { left: calc(var(--greenscreen-width) * 2); }
.greenscreen-x-4 { left: calc(var(--greenscreen-width) * 3); }

/* Chatbox */
.chat-container {
    opacity: 0;
}

.chatbox-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
}

.chatbox-jupiter {
    position: absolute;
    left: 400px;
    bottom: 10px;
    width: 187px;
    z-index: 1;
}

.chatbox-uranus {
    position: absolute;
    right: 450px;
    bottom: 134px;
    width: 145px;
    z-index: 1;
}

/* Scores */
.scores-text {
    position: absolute;
    bottom: 160px;
    left: 960px;
    transform: translateX(-50%);
    width: 175px;
}

/* Team Score Container */
.team-score-container {
    position: absolute;
    bottom: 84px;
    transform: skewX(-2deg)
}
.team-left-score-container { right: var(--team-score-container-x); }
.team-right-score-container { left: var(--team-score-container-x); }

/* Now Playing Earth */
.now-playing-earth {
    position: absolute;
    right: 481px;
    bottom: 0;
    width: 240px;
}

.now-playing-saturn {
    position: absolute;
    left: 482px;
    bottom: 17px;
    width: 200px;
}

.now-playing-wrapper {
    position: absolute;
    bottom: -1px;
    left: 617px;
    width: 680px;
    height: 91px;
}

.now-playing-border {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 1;
    pointer-events: none;
}

.now-playing-container {
    position: absolute;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    -webkit-mask-image: url("static/now-playing/mask.svg");
    mask-image: url("static/now-playing/mask.svg");
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    overflow: hidden;
}

/* Now Playing Mod */
.now-playing-mod {
    width: 114px;
    height: 264px;
    background-color: #3b7cc4;
    border-right: 5px solid black;
}