:root {
    --team-star-container-x: 50px;
    --greenscreen-top-y: 170px;
    --greenscreen-width: 480px;
    --greenscreen-height: 360px;
}

/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Team Names */
.team-name-container { position: absolute; }
.team-name-container-left { left: 0; }
.team-name-container-right { right: 0; }

/* Team Stars Container */
.team-stars-container {
    position: absolute;
    top: 94px;
    display: flex;
    gap: 4.5px;
}
.team-stars-container > * { width: 45px; }
.team-stars-container-left { left: var(--team-star-container-x); }
.team-stars-container-right {
    right: var(--team-star-container-x);
    flex-direction: row-reverse;
}

/* Round Name */
.round-name-container {
    position: absolute;
    top: 135px;
}

/* Green Screens */
.greenscreen {
    position: absolute;
    left: 0;
    background-color: #0F0;
    width: var(--greenscreen-width);
    height: var(--greenscreen-height);
}
.greenscreen-top { top: var(--greenscreen-top-y); }
.greenscreen-bottom { top: calc(var(--greenscreen-height) + var(--greenscreen-top-y)); }
.greenscreen-x-1 { left: calc(var(--greenscreen-width) * 0); }
.greenscreen-x-2 { left: calc(var(--greenscreen-width) * 1); }
.greenscreen-x-3 { left: calc(var(--greenscreen-width) * 2); }
.greenscreen-x-4 { left: calc(var(--greenscreen-width) * 3); }