:root {
    --greenscreen-top-y: 170px;
    --greenscreen-width: 480px;
    --greenscreen-height: 360px;
    --team-score-container-x: 941px;
    --mappool-map-metadata-y: 20px;
    --hp-bar-container-x: 37px;
    --hp-bar-container-skew: 5deg;
    --hp-bar-x: 6px;
    --camera-x: 0px;
}

/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Team Names */
.team-name-container { position: absolute; }
.team-name-container-left { left: 0; }
.team-name-container-right { right: 0; }

/* HP Bar Container */
.hp-bar-container {
    position: absolute;
    top: 100px;
    width: 250px;
    height: 39px;
    background-color: white;
    border-radius: 3px;
}

.team-left-hp-bar-container {
    left: var(--hp-bar-container-x);
    transform: skewX(calc(-1 * var(--hp-bar-container-skew)));
}

.team-right-hp-bar-container {
    right: var(--hp-bar-container-x);
    transform: skewX(var(--hp-bar-container-skew));
}

.hp-bar-container::after {
    content: "";
    position: absolute;
    inset: 3px;                
    border: 3px solid black; 
    border-radius: 3px;
    pointer-events: none;      
}

/* HP Bar */
.hp-bar {
    position: absolute;
    top: 6px;
    width: 238px;
    height: 27px;
    transition: 200ms ease-in-out;
}

.team-left-hp-bar {
    left: var(--hp-bar-x);
    background-color: var(--team-red-colour);
}

.team-right-hp-bar {
    right: var(--hp-bar-x);
    background-color: var(--team-blue-colour);
}

/* Team Names */
.team-hp-number {
    position: absolute;
    top: 54px;
}

.team-left-hp-number {
    left: 258px;
}

.team-right-hp-number {
    right: 258px;
}

/* Round Name */
.round-name-container {
    position: absolute;
    top: 135px;
}

.chatbox-chat-text {
    position: absolute;
    bottom: 195px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.chatbox-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
}

.chatbox-jupiter {
    position: absolute;
    left: 400px;
    bottom: 10px;
    width: 187px;
    z-index: 1;
}

.chatbox-uranus {
    position: absolute;
    right: 450px;
    bottom: 134px;
    width: 145px;
    z-index: 1;
}

.chatbox-container {
    position: absolute;
    bottom: 0;
    left: 955px;
    transform: translateX(-50%);
    width: 833px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 15px;
}
.chatbox-container::-webkit-scrollbar { display: none;}

/* Chat Display Message */
.chatbox-message {
    display: flex;
    width: inherit;
    color: black;
    line-height: 27px;
}

.chatbox-name {
    margin-right: 10px;
    white-space: nowrap;
}

.chatbox-content { width: 100%; }
.left { color: var(--team-red-colour); }
.right { color: var(--team-blue-colour); }
.bot { color: purple; }
.unknown { color: green; }

/* Scores */
.scores-mappool-map {
    opacity: 1;
    transition: 500ms ease-in-out;
}

.scores-text {
    position: absolute;
    bottom: 160px;
    left: 960px;
    transform: translateX(-50%);
    width: 175px;
}

/* Team Score Container */
.team-score-container {
    position: absolute;
    bottom: 84px;
    transform: skewX(-2deg);
}
.team-left-score-container { right: var(--team-score-container-x); }
.team-right-score-container { left: var(--team-score-container-x); }

/* Mappool Container */
.mappool-container {
    position: absolute;
    top: 503.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mappool-mod-container {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Mappool Map */
.mappool-map-wrapper {
    width: 680px;
    height: 91px;
    transform: scale(0.6);
    margin: calc(91px * -0.2) calc(680px * -0.2);
}

.mappool-map-border {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 1;
    pointer-events: none;
}

.mappool-map-container {
    position: absolute;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    mask-image: url("static/mappool-map/mask.svg");
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    overflow: hidden;
}

/* Now Playing Background */
.mappool-map-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://assets.ppy.sh/beatmaps/1/covers/cover.jpg");
}

.mappool-map-background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

/* Now Playing Mod */
.mappool-map-mod {
    position: absolute;
    width: 133px;
    height: 92px;
    border-right: 3px solid black;
    text-align: center;
    color: white;
    font-family: "Super Mario Galaxy", sans-serif;
    font-size: 43px;
    line-height: 92px;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
}
.mappool-map-mod-nm { background-color: #4BC43B; }
.mappool-map-mod-hd { background-color: #DB6D45; }
.mappool-map-mod-hr { background-color: #C43B3B; }
.mappool-map-mod-dt { background-color: #B540DB; }
.mappool-map-mod-fm { background-color: #F5EB46; }

/* Metadata */
.mappool-map-metadata {
    position: absolute;
    left: 146px;
    font-size: 24px;
    letter-spacing: -2px;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mappool-map-artist-title { top: var(--mappool-map-metadata-y); }
.mappool-map-version { bottom: var(--mappool-map-metadata-y); }

/* Stats */
.mappool-map-stats-container {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 180px;
    transform: translateY(-50%);
    font-size: 20px;
    letter-spacing: -2px;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    row-gap: 5px;    
}
.mappool-map-stats-container > * { width: 90px; }
.mappool-map-stats-star { color: gold; }

/* Pick Ban */
.mappool-map-pick-ban {
    position: absolute;
    top: 22px;
    left: 405px;
    transform: translateX(-50%);
    font-size: 36px;
    letter-spacing: -1px;
    color: white;
    font-family: "Super Mario Galaxy";
    text-align: center;
    line-height: 37.5px;
    height: 37.5px;
    width: max-content;
    padding: 5px;
    border: 3px solid white;
    display: none;
}
.mappool-map-pick-ban-left { background-color: var(--team-red-colour); }
.mappool-map-pick-ban-right { background-color: var(--team-blue-colour); }

/* Cameras */
.camera {
    position: absolute;
    bottom: 0;
    width: 338px;
    height: 190px;
    font-family: "Super Mario Galaxy", sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    color: white;
    line-height: 190px;
    text-align: center;
}

.camera-left {
    left: var(--camera-x);
    background-color: var(--team-red-colour);
}

.camera-right {
    right: var(--camera-x);
    background-color: var(--team-blue-colour);
}