/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Mappool Container */
.mappool-container {
    position: absolute;
    top: 503.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mappool-mod-container {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Mappool Map (cards are created in index.js) */
.mappool-map-wrapper {
    width: 680px;
    height: 91px;
    transform: scale(0.6);
    margin: calc(91px * -0.2) calc(680px * -0.2);
}

.mappool-map-container { mask-image: url("static/mappool-map/mask.svg"); }

.mappool-map-mod-nm { background-color: #4BC43B; }
.mappool-map-mod-hd { background-color: #DB6D45; }
.mappool-map-mod-hr { background-color: #C43B3B; }
.mappool-map-mod-dt { background-color: #B540DB; }
.mappool-map-mod-fm { background-color: #F5EB46; }

/* Pick / Ban label */
.mappool-map-pick-ban {
    position: absolute;
    top: 22px;
    left: 405px;
    transform: translateX(-50%);
    display: none;
    width: max-content;
    height: 37.5px;
    padding: 5px;
    border: 3px solid white;
    color: white;
    font-family: "Super Mario Galaxy", sans-serif;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 37.5px;
    text-align: center;
}
.mappool-map-pick-ban-left { background-color: var(--team-red-colour); }
.mappool-map-pick-ban-right { background-color: var(--team-blue-colour); }
