/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Greenscreen */
.greenscreen {
    position: absolute;
    left: 3px;
    background-color: #0F0;
    width: 1497px;
    height: 842px;
}

/* Round Name Container */
.round-name-container {
    position: absolute;
    top: 36px;
    right: 0;
}

/* Character Right */
.character-right {
    position: absolute;
    top: 185px;
    right: 35px;
    height: 471px;
}

/* Chat Container */
.chat-image {
    position: absolute;
    right: 52px;
    bottom: 40px;
    height: 535px;
}

.chat-text {
    position: absolute;
    right: 254px;
    bottom: 528px;
    width: 196px;
}

.uranus {
    position: absolute;
    bottom: 400px;
    right: 5px;
    width: 110px;
}

.jupiter {
    position: absolute;
    bottom: 142px;
    right: 417px;
    height: 136px;
}